


<mat-nav-list>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon> dashboard </mat-icon> Dashboard</a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/students"><mat-icon> group </mat-icon> Students </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/finance"> <mat-icon> request_quote </mat-icon>Finance Application </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/reports"><mat-icon> bar_chart </mat-icon> Custom Report Generator </a>
  <mat-divider> </mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings"><mat-icon> settings </mat-icon> Settings </a>
  <mat-divider> </mat-divider>

</mat-nav-list>

